In [1]:
import pandas as pd

In [7]:
all_events = pd.read_csv('all_events.csv')
print(all_events.columns)
nan_with_date_events = pd.read_csv('nan_with_date_events.csv')
nan_events = pd.read_csv('nan_events.csv')
nan_events = nan_events[nan_events["Date"].notnull()]
all_events = pd.concat([all_events, nan_with_date_events, nan_events], ignore_index=True)
all_events.rename(columns={"Title":"Subject", "Date":"Start Date", "Time":"Start Time", "Department":"Description"}, inplace=True)
all_events = all_events.reindex(columns=["Subject", "Start Date", "Start Time", "End Time", "Location", "Description" ])
all_events.describe()

Index(['Title', 'Start Time', 'End Time', 'Date', 'Location', 'Department',
       'Site'],
      dtype='object')

,Subject,Start Date,Start Time,End Time,Location,Description
count,79,79,54,54,43,79
unique,78,23,22,24,27,11
top,University of Virginia Venture Capital Conference,2024-04-12,03:30 PM,05:00 PM,"Monroe Hall, Room 120",University of Virginia
freq,2,17,13,11,11,18

In [3]:
all_events.to_csv('g_all_events.csv', index=False)