In [1]:
import pandas as pd

In [2]:
all_events = pd.read_csv('all_events.csv') 
print(all_events.columns)
nan_with_date_events = pd.read_csv('nan_with_date_events.csv')
nan_events = pd.read_csv('nan_events.csv')
nan_events = nan_events[nan_events["Date"].notnull()]
all_events = pd.concat([all_events, nan_with_date_events, nan_events], ignore_index=True)
all_events.rename(columns={"Title":"Subject", "Date":"Start Date", "Time":"Start Time", "Site":"Description"}, inplace=True)
all_events = all_events.reindex(columns=["Subject", "Start Date", "Start Time", "End Time", "Location", "Description" ])
all_events.describe()

Index(['Title', 'Start Time', 'End Time', 'Date', 'Location', 'Department',
       'Site'],
      dtype='object')

,Subject,Start Date,Start Time,End Time,Location,Description
count,109,112,89,89,85,112
unique,105,25,23,27,62,22
top,Connaughton Speaker Series: A Founders Convers...,2024-04-26,05:00 PM,04:00 PM,Old Cabell Hall,https://www.virginia.edu/calendar
freq,2,33,10,9,6,29

In [3]:
import os
file_path = os.path.join("..", "sites.txt")

with open(file_path) as f:
    lines = f.readlines()
    lines = [line.rstrip() for line in lines]

set1 = set(all_events["Description"].unique())
set2 = set(lines)
intersection = set1.intersection(set2)
print(f'Set 1 All: {len(set1)}', f'Set 2 Extracted: {len(set2)}', f'Intersection: {len(intersection)}')
print(set2.difference(set1))

Set 1 All: 22 Set 2 Extracted: 13 Intersection: 9
{'https://www.arch.virginia.edu/events?search=&start=&end=&range=upcoming&events=&pageindex=0&pagesize=20', 'https://cal.lib.virginia.edu/calendar/events?cid=4299&t=m&d=0000-00-00&cal=4299&ct=69160,33395,66337,31015,30813,51597,58853,58854,58855,58856,70846,45972,31362,27888,30045,27381,57994,54907,26930,29624,56703,66253,66255,66338,46136,70848,33496,70427,27725,29618,63738,28898,33396,38996,50481,70849,51598,29985&inc=0', 'https://scholarslab.lib.virginia.edu/events/', 'https://events.batten.virginia.edu/'}

In [4]:
all_events.to_csv('g_all_events.csv', index=False)